header{
  background: #CCC;
  height:800px;
  background: url(286H.jpg) center;
  background-size: cover;
}

  body{
  font-family: 'Montserrat', sans-serif;
}
object{
  height: 50px;
  width: 50px;
  margin: 0px 0 0 30px;
  float:left;
  color:white;

}




.title-menu{
  float:right;
  margin: 30px 30px 0 0;
}

nav a{
  display: inline-block;
  margin-left:20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  font-size: 14px;

}

nav a:hover{
  color: rgba(0,0,0,1);
}

.logo path{
  fill: green;
}

h1{
  text-align: center;
  font-size: 72px;
  weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;

}

span{
  display: inline-block;
  padding: 0.55em 0.3em;
  border: white solid 10px;
}

.kicker{
  text-align: center;
  color:white;
  letter-spacing: 0.5em;
  line-height: 1;
}

.loren-ipsum-text{
  padding:20px 10px 10px 20px;
}

footer{
  background: #CCC;
  height:170px;
  background: url(286H.jpg) center;
  background-size: cover;

}

.lockup{
  padding: 50px 30px;

.content_wrap{
  float:left;
}



